# Vivado
*.jou
*.log
*.str
*.xpr
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.srcs/
*.Xil/
*.bit
!fpga/bitstream/*.bit
*.ltx
*.mcs

# Simulation
*.vcd
*.wlf
*.asdb
transcript
work/
*.tmp

# OS
.DS_Store
Thumbs.db
*.swp
*~

# Editor
.vscode/
.idea/
*.code-workspace